<ion-card class="user-card">

  <div class="image-container">
    <img
      [src]="data?.photos?.[0] || 'https://cdn-icons-png.flaticon.com/512/149/149071.png'"
      alt="Foto del usuario"
      class="user-photo"
    />
  </div>


  <ion-card-header>
    <ion-card-title>
      {{ data?.firstName || 'Sin nombre' }} {{ data?.lastName || '' }}
    </ion-card-title>
    <ion-card-subtitle>{{ data?.email || 'Sin correo' }}</ion-card-subtitle>
  </ion-card-header>


  <ion-card-content>
    <p><strong>Teléfono:</strong> {{ data?.phone || 'N/A' }}</p>
    <p><strong>Tipo de documento:</strong> {{ data?.idType || 'N/A' }}</p>
    <p><strong>Número de documento:</strong> {{ data?.idNumber || 'N/A' }}</p>
    <p><strong>Fecha de nacimiento:</strong> {{ data?.birthDate || 'N/A' }}</p>
  </ion-card-content>
</ion-card>