<ion-content class="container-todo" fullscreen="true">
  <div class="container-content">

    <div class="header">
      <img src="../../../assets/icon/EventConnect.logo.png" alt="EventConnect Logo" />
      <ion-title>Bienvenid@s</ion-title>
      <h3>Conecta, publica y descubre experiencias únicas</h3>
    </div>

    <div class="content">
      <div class="item">
        <h2>✔ PUBLICA</h2>
        <h4>Comparte tus eventos y actividades con toda la comunidad.</h4>
      </div>

      <div class="item">
        <h2>✔ DESCUBRE</h2>
        <h4>Encuentra nuevos eventos y personas con tus mismos intereses.</h4>
      </div>

      <div class="item">
        <h2>✔ CONECTA</h2>
        <h4>Participa, disfruta y crea momentos inolvidables.</h4>
      </div>
    </div>

    <div class="button">
      <app-button value="Comenzar" (click)="agree()"></app-button>
    </div>

  </div>
</ion-content>
