.hero {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 16px;
}

.title {
  margin: 8px 0 4px;
  font-weight: 800;
}

.meta {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--ion-color-medium);
  margin: 4px 0;
}

.intro h3 {
  margin-top: 16px;
}

.actions {
  margin-top: 24px;
}
