<app-header></app-header>

<ion-content [scrollEvents]="true" fullscreen>
  <div class="chat-title">
    <h4>Chatbot EventConnect</h4>
  </div>

  <ion-item *ngFor="let item of messages" 
            [ngClass]="{'user': item.sender==='user','bot':item.sender==='bot'}" 
            lines="none" 
            class="chat-item">
    
    <div class="chat-avatar">
      <img [src]="item.sender==='user'? user.photos[0] : 'assets/icon/bot.png'" alt="avatar">
    </div>

    <ion-label class="ion-text-wrap">
      <p class="w-space">{{item.content}}</p>
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer class="ion-padding">
  <form [formGroup]="formChat" (ngSubmit)="askToGpt()">
    <ion-item class="text-box-item">
      <ion-textarea formControlName="promt" placeholder="Escribe tu mensaje..." autoGrow="true"></ion-textarea>
      <ion-buttons slot="end">
        <ion-button type="submit" [disabled]="loading || formChat.invalid">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </form>
</ion-footer>
