<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-eventos" [routerLink]="['/mis-eventos']">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Mis eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nuevo-evento" [routerLink]="['/new-event']">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Nuevo evento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
