
<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <!-- FAB centered above the tab bar (between Notifications and Chat) -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="homescreen-fab">
    <ion-fab-button class="main-fab">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button class="create-fab" (click)="openCreateEvent()" title="Crear evento">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/homescreen/home']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications" [routerLink]="['/homescreen/notifications']">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chat" [routerLink]="['/chatbot']">
      <ion-icon name="chatbox"></ion-icon>
      <ion-label>ChatBot</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user" [routerLink]="['/profile']">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>