<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>EventConnect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="categories">
      <ion-icon name="apps"></ion-icon>
      Categories
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      Notifications
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
      Me
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>